<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.1/assets/img/favicons/favicon.ico">

    <title>Album example for Bootstrap</title>
  </head>
  <body>
    <header>
      <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
              <h4 class="text-white">О нас</h4>
              <p class="text-muted">Занимаемся выдачей микрозаймов более 10 лет.</p>
            </div>          
          </div>
        </div>
      </div>
      <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container d-flex justify-content-between">
          <a href="#" class="navbar-brand d-flex align-items-center">
            <img src="../assets/images/thumb_342757_news_xxxl.png">
            <strong style="padding-left: 3px;">Займ ОНЛАЙН</strong>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </div>
    </header>

    <main role="main">

      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">МГНОВЕННЫЕ ЗАЙМЫ ОНЛАЙН - КРУГЛОСУТОЧНО!</h1>
          <h2>подайте заявку в 3-4 компании для 100% получения денег</h2>          
        </div>
      </section>

      <div class="album py-5 bg-light">
        <div class="container">

          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img class="card-img-top" src="../assets/images/denginadom.png" alt="Card image cap">
                <div class="card-body">
                  <div class="card-text"><b>Информация о продукте:</b>
                    <ul>
                      <li>Сумма займа: от 5 000 до 100 000 рублей.</li>
                      <li>Срок займа: до 52 недель.</li>
                      <li>Мгновенное перечисление денег сразу после одобрени</li>
                    </ul>                 
                  </div>
                  <div>
                    <div style="width: 43%; margin: 0 auto;">
                      <button type="button" class="btn btn-success">Подать заявку</button>
                    </div>                      
                  </div>
                </div>
              </div>
            </div>         
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img class="card-img-top" src="../assets/images/oneclickmoney_logo.png" alt="Card image cap">
                <div class="card-body">
                  <div class="card-text"><b>Информация о продукте:</b>
                    <ul>
                      <li>Срок займа: от 6 до 60 дней.</li>
                      <li>Сумма займа: от 500 до <b>30 000 рублей</b>.</li>
                      <li>Процент: <b>1 %</b>.</li>
                      <li>Мгновенное перечисление денег сразу после одобрени</li>
                    </ul>                 
                  </div>
                  <div>
                    <div style="width: 43%; margin: 0 auto;">
                      <button type="button" class="btn btn-success">Подать заявку</button>
                    </div>                      
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img class="card-img-top" src="../assets/images/dobrozaim.png" alt="Card image cap">
                <div class="card-body">
                  <div class="card-text"><b>Информация о продукте:</b>
                    <ul>
                      <li>Сумма займа: от 1 000 до <b>100 000 рублей</b></li>
                      <li>Срок займа: от 1 дня до 12 месяцев</li>
                      <li>Ставка: от <b>0%</b> до <b>1%</b> в день</li>
                      <li>Мгновенное перечисление денег сразу после одобрени</li>
                    </ul>                 
                  </div>
                  <div>
                    <div style="width: 43%; margin: 0 auto;">
                      <button type="button" class="btn btn-success">Подать заявку</button>
                    </div>                      
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img class="card-img-top" src="../assets/images/webzaim.png" alt="Card image cap">
                <div class="card-body">
                  <div class="card-text"><b>Информация о продукте:</b>
                    <ul>
                      <li>от 1 500 руб до <b>30 000 руб.</b> до 30 дней</li>
                      <li>Процент: <b>0%</b>.</li>
                      <li>Решение в течение 5 минут</li>
                      <li>Мгновенное перечисление денег сразу после одобрени</li>
                    </ul>                 
                  </div>
                  <div>
                    <div style="width: 43%; margin: 0 auto;">
                      <button type="button" class="btn btn-success">Подать заявку</button>
                    </div>                      
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img class="card-img-top" src="../assets/images/joymoney.png" alt="Card image cap">
                <div class="card-body">
                  <div class="card-text"><b>Информация о продукте:</b>
                    <ul>
                      <li>Сумма займа: от 3 000 руб до 30 000 руб</li>
                      <li>Срок займа: от 5 до 30 дней</li>
                      <li>Мгновенное перечисление денег сразу после одобрени</li>
                    </ul>                 
                  </div>
                  <div>
                    <div style="width: 43%; margin: 0 auto;">
                      <button type="button" class="btn btn-success">Подать заявку</button>
                    </div>                      
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img class="card-img-top" src="../assets/images/belkakredit.png" alt="Card image cap">
                <div class="card-body">
                  <div class="card-text"><b>Информация о продукте:</b>
                    <ul>
                      <li>Сумма: от 1 000 до 30 000 руб.</li>
                      <li>Срок: от 7 до 30 дней</li>
                      <li>Первый заем 0% первые 10 дней, далее 1% в день</li>
                    </ul>                 
                  </div>
                  <div>
                    <div style="width: 43%; margin: 0 auto;">
                      <button type="button" class="btn btn-success">Подать заявку</button>
                    </div>                      
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img class="card-img-top" src="../assets/images/payps.png" alt="Card image cap">
                <div class="card-body">
                  <div class="card-text"><b>Информация о продукте:</b>
                    <ul>
                      <li>Сумма займа: от 7 000 до 30 000 рублей</li>
                      <li>Срок займа: от 2 до 5 месяцев</li>
                      <li>Процентная ставка: от 0,8% в день</li>
                    </ul>                 
                  </div>
                  <div>
                    <div style="width: 43%; margin: 0 auto;">
                      <button type="button" class="btn btn-success">Подать заявку</button>
                    </div>                      
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img class="card-img-top" src="../assets/images/dengi.png" alt="Card image cap">
                <div class="card-body">
                  <div class="card-text"><b>Информация о продукте:</b>
                    <ul>
                      <li>Сумма займа: до 40000 рублей</li>
                      <li>Срок займа: от 5 до 180 дней</li>
                      <li>Ставка: 0,75% в день</li>
                    </ul>                 
                  </div>
                  <div>
                    <div style="width: 43%; margin: 0 auto;">
                      <button type="button" class="btn btn-success">Подать заявку</button>
                    </div>                      
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img class="card-img-top" src="../assets/images/credit7.png" alt="Card image cap">
                <div class="card-body">
                  <div class="card-text"><b>Информация о продукте:</b>
                    <ul>
                      <li>Сумма: от 1 000 до 30 000 руб.</li>
                      <li>Срок: от 7 до 30 дней</li>
                      <li>Процентная ставка: первый заем 0% на 10 дней, далее от 0,72% в день</li>
                    </ul>                 
                  </div>
                  <div>
                    <div style="width: 43%; margin: 0 auto;">
                      <button type="button" class="btn btn-success">Подать заявку</button>
                    </div>                      
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <footer class="text-muted">
      <div class="container">
        <p class="float-right">
          <a href="#">Back to top</a>
        </p>
        <p>Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
        <p>New to Bootstrap? <a href="../../">Visit the homepage</a> or read our <a href="../../getting-started/">getting started guide</a>.</p>
      </div>
    </footer>
<div class="iframe_wrapp">
  <div (click)="showChat()">
    <i [ngClass]="openCloseChatStyle"></i>
  </div>
<div [ngClass]="chatStyle">
  <iframe id="serviceFrameSend" src="http://localhost:3000/clientchat" style="overflow:hidden;height:100%;width:100%" height="100%" width="100%"  frameborder="0"></iframe>
</div>
</div>
  </body>
</html>
