<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.1/assets/img/favicons/favicon.ico">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <title>Album example for Bootstrap</title>
  </head>
  <body>
    <header>
      <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
              <h4 class="text-white">О нас</h4>
              <p class="text-muted">Занимаемся выдачей микрозаймов более 10 лет.</p>
            </div>          
          </div>
        </div>
      </div>
      <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container d-flex justify-content-between">
          <a href="#" class="navbar-brand d-flex align-items-center">
            <img src="../assets/images/thumb_342757_news_xxxl.png">
            <strong style="padding-left: 3px;">Займ ОНЛАЙН</strong>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </div>
    </header>

    <main role="main">
      <section class="heading text-center banner">
        <div class="container">
          <div class="banner-wrapper">
            <h1 class="jumbotron-heading">МГНОВЕННЫЕ ЗАЙМЫ ОНЛАЙН - КРУГЛОСУТОЧНО!</h1>
            <h2>подайте заявку в 3-4 компании для 100% получения денег</h2>
            <a href="#" class="butt">оформить заявку</a>
          </div>
        </div>
      </section>

      <section class="advantages">
        <div class="container">
          <div class="advantages-wrapper">
            <div class="advantages-item">
              <div class="advantages-icon">
                <img src="../assets/images/fast-time.svg" alt="">
              </div>
              <div class="advantages-text">Быстрый займ</div>
            </div>
            <div class="advantages-item">
              <div class="advantages-icon">
                <img src="../assets/images/protection.svg" alt="">
              </div>
              <div class="advantages-text">Надежная защита</div>
            </div>
            <div class="advantages-item">
              <div class="advantages-icon">
                <img src="../assets/images/handshake.svg" alt="">
              </div>
              <div class="advantages-text">Ответственный кредитор</div>
            </div>
          </div>
        </div>
      </section>

      <div class="album py-5 bg-light">
        <div class="container">
          <div class="items">
            <div class="item">
              <div class="item-photo">
                <img src="../assets/images/denginadom.png" alt="">
              </div>
              <div class="item-wrapper">
                <div class="item-title">Информация о продукте:</div>
                <ul class="item-list">
                  <li>Сумма займа: от 5 000 до 100 000 рублей.</li>
                  <li>Срок займа: до 52 недель.</li>
                  <li>Мгновенное перечисление денег сразу после одобрени</li>
                  <li>Срок займа: до 52 недель.</li>
                  <li>Мгновенное перечисление денег сразу после одобрени</li>
                  <li>Срок займа: до 52 недель.</li>
                  <li>Мгновенное перечисление денег сразу после одобрени</li>
                  <li>Срок займа: до 52 недель.</li>
                  <li>Мгновенное перечисление денег сразу после одобрени</li>
                  <li>Срок займа: до 52 недель.</li>
                  <li>Мгновенное перечисление денег сразу после одобрени</li>
                  <li>Срок займа: до 52 недель.</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <footer class="text-muted">
      <div class="container">
        <p class="float-right">
          <a href="#">Back to top</a>
        </p>
        <p>Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
        <p>New to Bootstrap? <a href="../../">Visit the homepage</a> or read our <a href="../../getting-started/">getting started guide</a>.</p>
      </div>
    </footer>
  </body>
</html>
